asgiref==3.2.7
atomicwrites==1.4.0
attrs==19.3.0
Django==3.0.8
django-debug-toolbar==2.2
docutils==0.16
hypothesis==5.14.0
importlib-metadata==1.6.0
more-itertools==8.2.0
numpy==1.18.4
packaging==20.3
Pillow==7.0.0
pluggy==0.13.1
psutil==5.7.0
psycopg2==2.8.5
py==1.8.1
pyparsing==2.4.7
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.7.0
pytest-astropy-header==0.1.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
sortedcontainers==2.1.0
sqlparse==0.3.1
wcwidth==0.1.9
zipp==3.1.0
